.workWrapper {
  width: 100vw;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: fit-content;
}

.grid {
  display: grid;
  margin-top: 5%;
  grid-template-columns: 1fr;
  column-gap: 10%;
  row-gap: 30px;
}

@media screen and (min-width: 1080px) {
  .workWrapper {
    width: 70vw;
  }
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 767px) {
  .workWrapper {
    width: 80vw;
  }
}
