.cardWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.upperCard {
  position: relative;
}

.card {
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 10px;
  box-shadow: 6px 13px 23px -5px rgba(0, 0, 0, 0.46);
  overflow: hidden !important;
  display: block;
}

.browserOverlay {
  display: block;
  width: 100%;
  height: auto;
}

.cardImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.cardLinks {
  display: flex;
  opacity: 1;
  justify-content: space-between;
  margin: 0 10%;
  margin-top: 2%;
  position: static;
}

.cardLinks > a {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 3% 0px;
  font-size: 0.8rem;
}

.cardLinks > a:hover {
  color: var(--accent-orange);
  fill: var(--accent-orange);
}

.cardLinks:hover {
  opacity: 1;
}

.cardWrapper > .content {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.header {
  font-size: 1.5rem;
}

.text {
  font-size: 0.8rem;
  margin-bottom: 20px;
  line-height: 2;
}

.techWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 10px;
}

.badge {
  font-size: 0.8rem;
  background-color: var(--accent-orange);
  color: white;
  padding: 6px 8px;
  text-align: center;
  border-radius: 5px;
}

@media screen and (min-width: 768px) and (hover: hover) {
  .cardLinks {
    opacity: 0;
    transition: opacity 0.4s ease;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: 0;
    -webkit-transform: translate(-50%, 0);
    fill: var(--font-dark);
    transition: fill color 0.1s ease;
  }
  .cardLinks > a {
    padding: 0 5%;
  }
  .upperCard:hover .cardImage {
    opacity: 0.1;
  }
  .upperCard:hover .cardLinks {
    opacity: 1;
  }
}
