.promotionContainer {
  width: 100%;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

@media screen and (max-width: 1080px) {
  .promotionContainer {
    width: 70vw;
  }
}

@media screen and (min-width: 1081px) {
  .promotionContainer {
    width: 60vw;
  }
}
