.projectWrapper {
  width: 100vw;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid {
  display: grid;
  margin-top: 10%;
  grid-template-columns: 1fr;
  column-gap: 10%;
  row-gap: 6%;
}

@media screen and (min-width: 960px) {
  .projectWrapper {
    width: 70vw;
  }
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 767px) {
  .projectWrapper {
    width: 80vw;
    max-width: fit-content;
  }
}
