:root {
  --background-dark: #202023;
  --background-light: #f8f8fa;
  --font-dark: #3a3a3a;
  --font-light: rgba(250, 250, 250, 0.93);
  --accent-orange: #ff9720;

  /* heights */
  --navbar-height: 70px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Readex Pro', sans-serif;
  background-color: var(--background-light);
  color: var(--font-dark);
  scroll-behavior: smooth;
}

p {
  font-family: 'Overpass Mono', monospace;
  font-size: 0.8rem;
  line-height: 1.5rem;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.section {
  width: 100%;
}

.sectionContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Hero Section */
#hero {
  height: 100vh;
  padding-top: var(--navbar-height);
}

/* Buttons */
.primaryBtn {
  margin: 10px;
  padding: 10px;
  background-color: transparent;
  color: var(--font-dark);
  border: 2px solid var(--font-dark);
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  cursor: pointer;
}

.primaryBtn:hover,
.primaryBtn:focus {
  transition: all 0.2s ease-out;
  background-color: var(--accent-orange);
  color: var(--font-light);
  transition: 250ms;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
